nav {
  width: calc(100% - 240px);
  height: 60px;
  //background-color: var(--nav_bg);
  display: flex;
  align-items: center;
  padding: 0 120px;
  z-index: 100;
  position: fixed;  // 固定导航栏位置
  top: 0;
  left: 0;

  .left {
    width: 60%;
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: right;

    img {
      width: 20px;
      margin-right: 20px;
      cursor: pointer;
    }

    .el-dropdown {
      color: white;
      span {
        cursor: pointer;
      }
    }
  }

  a {
    margin-right: 20px;
    //color: var(--nav_color);
    color: white;
    &:last-child {
      margin-right: 0;
    }
  }
}

header {
  width: 100%;
  height: 600px;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

    h1 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .dynamic_shuffle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    opacity: 0;
    &:nth-child(2) {
      opacity: 1;
    }

  }

  img {
    width: 100%;
  }
}

main {
  width: calc(100% - 240px);
  //height: 600px;
  background-color: var(--main_bg);
  color: var(--main_color);
  padding: 20px 120px;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  display: flex;
  height: 180px;
  background-color: var(--footer_bg);
  color: var(--footer_color);
  font-size: 14px;

  .left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thank {
    color: #26c6e1;
    font-size: 20px;
  }

  .site_info {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .version {
      display: flex;
      align-items: center;
    span {
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      height: 30px;
      width: 60px;

      &:nth-child(1) {
        background-color: #ff9800;
        border-radius: 5px 0 0 5px;
      }
      &:nth-child(2) {
        background-color: #26c6da;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .beian {
    a {
      display: flex;
      align-items: center;
    }
  }

  p {
    margin-bottom: 10px;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    width: 200px;

    > div {
      position: relative;

      .qq {
        width: 80px;
        position: absolute;
        top: -70px;
        left: -21px;
        transition: all 0.4s;
        opacity: 0;
      }
    }

    .svg {
      width: 40px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &:hover {
        & ~ .qq {
          top: -83px;
          left: -21px;
          opacity: 1;
        }
      }
    }
  }
}

.el-dropdown-menu {
a {
  color: #333333;
}
}