{% extends 'login.html' %}

{% block title %}
        <title>个人博客|用户注册</title>
{% endblock %}

{% block main_title %}
    <a href="/login">登录</a> / <a href="/sign" class="active">注册</a>
{% endblock %}

{% block form %}
    <input type="text" placeholder="请输入用户名" class="sign_input">
    <input type="text" placeholder="请输入密码" class="sign_input">
    <input type="text" placeholder="请输入确认密码" class="sign_input">
    <div class="code">
     <input type="text" placeholder="请输入验证码">
        <img src="/static/my/img/login/code.png" alt="">
    </div>
    <button>登录</button>
{% endblock %}